.button-outline {
  border-radius: 11px !important;
  display: table;
  margin: 0 auto;
}

.button-outline:hover {
  background-color: #12af51 !important;
  color: white !important;
  border-color: #12af51 !important;
}

.button {
  border-radius: 11px !important;
  background-color: #12af51 !important;
  border-color: #12af51 !important;
  display: table;
  margin: 0 auto;
}

.button-outline > .icon-button, .button > .icon-button {
  vertical-align: middle;
}

.button:hover {
  background-color: #08a045 !important;
  border-color: #08a045 !important;
}

.icon-button {
  font-size: 20px;
}

.icon-button.left {
  margin-right: 5px;
}

.icon-button.right {
  margin-left: 5px;
}
