.button-outline.primary {
  border-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
}

.button-outline.primary:hover {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: white !important;
}

.button-outline.secondary {
  border-color: var(--color-secondary) !important;
  color: var(--color-secondary) !important;
}

.button-outline.secondary:hover {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-secondary) !important;
  color: white !important;
}

.button-outline.info {
  border-color: var(--color-info) !important;
  color: var(--color-info) !important;
}

.button-outline.info:hover {
  background-color: var(--color-info) !important;
  border-color: var(--color-info) !important;
  color: white !important;
}

.button-outline.danger {
  border-color: var(--color-danger) !important;
  color: var(--color-danger) !important;
}

.button-outline.danger:hover {
  background-color: var(--color-danger) !important;
  border-color: var(--color-danger) !important;
  color: white !important;
}

.button-outline.warning {
  border-color: var(--color-warning) !important;
  color: var(--color-warning) !important;
}

.button-outline.warning:hover {
  background-color: var(--color-warning) !important;
  border-color: var(--color-warning) !important;
  color: white !important;
}

.button-outline.success {
  border-color: var(--color-success) !important;
  color: var(--color-success) !important;
}

.button-outline.success:hover {
  background-color: var(--color-success) !important;
  border-color: var(--color-success) !important;
  color: white !important;
}

.button.primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: white !important;
}

.button.primary:hover {
  background-color: var(--color-primary-hover) !important;
  border-color: var(--color-primary-hover) !important;
  color: white !important;
}

.button.secondary {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-secondary) !important;
  color: white !important;
}

.button.secondary:hover {
  background-color: var(--color-secondary-hover) !important;
  border-color: var(--color-secondary-hover) !important;
  color: white !important;
}

.button.info {
  background-color: var(--color-info) !important;
  border-color: var(--color-info) !important;
  color: white !important;
}

.button.info:hover {
  background-color: var(--color-info-hover) !important;
  border-color: var(--color-info-hover) !important;
  color: white !important;
}

.button.danger {
  background-color: var(--color-danger) !important;
  border-color: var(--color-danger) !important;
  color: white !important;
}

.button.danger:hover {
  background-color: var(--color-danger-hover) !important;
  border-color: var(--color-danger-hover) !important;
  color: white !important;
}

.button.warning {
  background-color: var(--color-warning) !important;
  border-color: var(--color-warning) !important;
  color: white !important;
}

.button.warning:hover {
  background-color: var(--color-warning-hover) !important;
  border-color: var(--color-warning-hover) !important;
  color: white !important;
}

.button.success {
  background-color: var(--color-success) !important;
  border-color: var(--color-success) !important;
  color: white !important;
}

.button.success:hover {
  background-color: var(--color-success-hover) !important;
  border-color: var(--color-success-hover) !important;
  color: white !important;
}

.button-outline {
  border-radius: 11px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent !important;
  font-size: 1rem;
  cursor: pointer;
}

.button {
  border-radius: 11px !important;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent !important;
  font-size: 1rem;
  cursor: pointer;
}

.icon-button {
  font-size: 22px;
}

.icon-button.left {
  margin-right: 5px;
}

.icon-button.right {
  margin-left: 5px;
}
