.link-navbar {
  background-color: var(--color-cinza-semitransparente-claro) !important;
  color: rgb(0, 0, 0, 0.55);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.2s !important;
}

.link-navbar:hover {
  background-color: #d2ffda !important;
}
