  .carousel {
    width: calc(100vw - 10vw);
    max-width: 800px;
    margin: 60px auto;
    border-radius: calc(12px + 1vw);
    overflow: hidden;
  }
  
  .slider-img {
    width: 100%;
    aspect-ratio: 20 / 9;
    overflow: hidden;
    object-fit: cover;
  }
  
  .carousel-indicators button {
    border-radius: 50%;
    width: 8px !important;
    height: 8px !important;
  }