.corpoDoSite {
    display: flex;
    height: calc(100vh - 120px);
    padding-left: 0;
  }
  
  .barraLateral {
    position: relative;
    background-color: #23BC60;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    width: 90px;
    min-width: 78px;
    padding-top: 55px;
    overflow: hidden;
    white-space: nowrap;
}

.barraLateral.expandido {
    width: 200px;
    min-width: 200px;
    
}
  
  .toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #39852c51;
    border: 0;
    font-size: 25px;
    border-radius: 10px;
  }

  .toggle-button:active {
    background-color: #2c682151 !important;
  }

  .toggle-button:hover {
    background-color: #9ddb925d;
  }
  
  .opcao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #39852c51;
    margin: 5px 0;
    width: calc(100% - 20px);
    max-width: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .opcao:hover {
    background-color: #9ddb925d;
  }

  .opcao:active {
    background-color: #2c682151;
  }
  
  .opcao.expandido {
    aspect-ratio: unset;
    height: 50px;
    justify-content: flex-start;
    padding-left: 10px;
    max-width: unset;
  }
  
  .icone {
    font-size: 30px;
  }
  
  .opcao.expandido .icone {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .label {
    font-size: 16px;
  }
  
  .conteudo {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    margin: 0;
    gap: 40px;
    padding: 1.5rem;
  }
  
  .graphic-box {
    max-width: fit-content;
    max-height: fit-content;
    padding: 20px;
    border-radius: 16px;
    background-color: #0000000d;
  }

  .recharts-wrapper {
    width: 100% !important;
    height: auto;
  }

  @media (max-width:992px) {
  }