.frase-impactante {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.iconeCard {
  color: var(--color-primary);
}

.iconeInfo {
  color: var(--color-secondary);
}

.radius-card {
  border-radius: 20px;
  border: 0;
}

.card-info {
  display: flex !important;
  justify-content: center !important;
  border-color: #e1e1e1;
  border-radius: 16px;
  padding: px;
}

.card-info.manifestacao {
  border-left: var(--color-danger) 10px solid;
}

.card-info.pendente {
  border-left: var(--color-warning) 10px solid;
}

.card-info.andamento {
  border-left: var(--color-info) 10px solid;
}

.card-info.concluido {
  border-left: var(--color-success) 10px solid;
}

.total {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-left: 15px;
}

.titulo-card-info {
  font-size: 1.35rem;
  font-weight: 500;
  margin-left: 15px;
}
