.frase-impactante {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.iconeCard {
  color: var(--color-primary);
}

.iconeInfo {
  color: var(--color-secondary);
}

.radius-card {
  border-radius: 20px;
  border: 0;
}