.col-lg-5 {
  background-color: #12af51;
  height: 100vh;
}

.col-lg-7 {
  height: 100vh;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container {
  margin: 0;
  max-width: 100% !important;
}

.botaoBranco {
  border-width: 3px !important;
  transition: all 0.3s ease-in-out;
  border-radius: 100px !important;
  font-weight: 600;
}

.botaoBranco:hover {
    color: #12af51 !important;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: #ffffff;
  text-align: center;
  padding: 25px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  font-weight: 600;
}

.title2 {
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #12af51;
}

.subtitle {
  font-size: 1.5em;
}

.bt-login {
    border-radius: 100px !important;
    width: 200px;
}

.custom-input {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    transition: all 0.3s;
    padding-left: 50px;
    background-color: #F0F0F0;
    border: 0;
}

.custom-input:focus {
    background-color: #d5ffd8;
    border-color: #d5ffd8;
    outline: none;
}

.iconeForm {
  position: absolute;
  height: 100%;
  font-size: 24px;
  color: #5959599a;
  left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
}

@media (max-width: 992px) {
    .col-lg-5 {
        background-color: #12af51;
        height: 500px;
      }
}
