.traco {
    position: absolute;
    left: 20px;
    top: 50%;
    height: 70%;
    width: 4px;
    border-radius: 3px;
    margin-right: 20px;
    background-color: #28a745;
    transform: translateY(-50%);
}

.title {
    font-family: 'Poppins' sans-serif;
    font-weight: 500;
}

.subtitle {
    font-size: 1.4em;
}