input,
.custom-select {
  height: 2.6rem !important;
  border-radius: 12px;
  font-size: 1rem;
}

.custom-select-content {
  border-radius: 12px;
  z-index: 100;
}

.custom-select-content * {
  border-radius: 10px;
  height: 35px;
}

.ql-toolbar {
  border-radius: 12px 12px 0 0px;
}

.quill-textarea {
  border-radius: 0 0 12px 12px;
  padding: 5px;
  min-height: 200px;
}