:root {
  --color-primary: #12af51;
  --color-primary-hover: #16b75a;

  --color-secondary: #e1d54e;
  --color-secondary-hover: #e9dd5e;

  --color-info: #0dcaf0;
  --color-info-hover: #1acff5;

  --color-danger: #dc3545;
  --color-danger-hover: #df4755;

  --color-warning: #ffc107;
  --color-warning-hover: #ffcd3a;

  --color-success: #198754;
  --color-success-hover: #1fa25f;
}

* {
  font-family: 'Inter', sans-serif;
}

.link {
  color: var(--color-secondary) !important;
}

.link:hover {
  color: var(--color-secondary-hover) !important;
}

a {
  text-decoration: none !important;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 65px;
}

.lineBottom {
  border-bottom: 0.5px solid #bbbbbb;
}

.lineTop {
  border-top: 0.5px solid #bbbbbb;
}

::selection {
  background-color: #bff7c4;
}

input[type="search"]::-webkit-search-cancel-button {
  filter: brightness(0) opacity(0.4);
}

.float-card {
  border-radius: 16px !important;
}
