.linha {
    max-height: fit-content;
    margin-top: 50px;
}

.container-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coluna {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipoManifestacao {
    background-color: white;
    border-color: white;
    width: calc(90px + 20vw);
    transition: transform 0.2s ease-out;
    max-width: 350px;
    margin: 20px;
}

.tipoManifestacao:hover {
    transform: scale(1.02);
}